<form *ngIf="!connected" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username" class="form-label">Pseudo</label>
        <input [(ngModel)]="username" type="text" class="form-control" id="username" name="username" required>
    </div>
    <button type="submit" class="btn btn-success mt-4">SE CONNECTER</button>
</form>

<div *ngIf="connected">
    <h6>Liste des utilisateurs :</h6>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">{{user}}</li>
    </ul>
</div>